@import url("https://fonts.googleapis.com/css?family=Arapey");

div {
  animation: fade-in 0.3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body,
h1 {
  margin: 0 auto;
  color: #eeeeee;
  text-align: justify;
  line-height: 28px;
  letter-spacing: 0.7px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: #f8f8f8;
}

h5 {
  margin: 10px 0;
}

.smallText {
  display: block;
  font-weight: bold;
  font-size: 12px;
}

.context {
  margin: 0px;
  background-color: #052623;
  font-size: 17px;
  padding: 80px 120px;
}

.input {
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: 0.7px;
  font-family: "Arapey", serif, Times;
}

.heading {
  margin: 10px 0px 30px 0px;
  background-color: #052623;
  color: #fbfbfb;
}

.canvas {
  margin: 40px 10px;
}

.subContent {
  margin: 10px 0px 50px 27px;
  color: black;
  text-align: center;
}

.progress {
  margin-top: 40px;
  width: 100%;
  height: 20px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 6px;
  display: none;
  transition: all 0.3s ease-in-out;
}

.bar {
  position: relative;
  float: left;
  width: 0%;
  height: 100%;
  background: #1f8077;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: tahoma, arial, helvetica;
  font-size: 12px;
  color: white;
}

.stats {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.statsParent {
  list-style: none;
  width: 30%;
  background: #ededed;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.statsChild {
  background: tomato;
  flex-grow: 3;
}
