<div>
    <div class="context">
        <h1 class="heading"> Frequency of Letters </h1>
        <p> 
            Intergrated chart to frequency analysed letters within a document file.
            Select a file from your computer and visualize the frequency of occurrence on 
            any alphabetical letter within its context. 
        </p>
        <input class="input" type="file" id="fileInput">
    </div>
    <div class="chart"></div>
    <div class="subContent">
        <h4 class="wordCount"></h4>
        <select name="type" id="chartType">
          <option value="line">Line Chart</option>
          <option value="bar">Bar Chart</option>
          <option value="bubble">Bubble Chart</option>
        </select>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script type="text/javascript" src="../logic/program.js" ></script> 


